* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FranklinGothic URW Book", Arial, Helvetica, sans-serif;
}

body {
    background: #F2E6D8;
}

h1 {
    color: white;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    background: #28BBC2;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;

}

h2 {
    color: #28BBC2;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;
}

.city-name-style {
    color: #28BBC2;
    
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
    justify-content: space-between; /* Align items to start and end */
}

.weather-input {
    width: 30%; /* Set width of weather input */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.city-input {
    width: 100%;
}

.weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5ABFBF;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: #5ABFBF;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #F2E6D8;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #5ABFBF;
    transition: .2s ease;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;
}

.weather-input .search-btn:hover {
    background: #F4BD9E;
}

.weather-input .location-btn {
    background: #F4BD9E;
}

.weather-input .location-btn:hover {
    background: #28BBC2;
}

.weather-data {
    width: 120%;
    padding-top: 40px;
}

.weather-data .current-weather {
    color: #fff;
    background: linear-gradient(to bottom right, #28BBC2, #F4BD9E);
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between; /* Align items to start and end */
    align-items: center; /* Center items vertically */
    max-width: 100%; /* Allow the content to take full width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
}

.current-weather h2 {
    font-size: 1.7rem;
    font-weight: 700;
    max-width: 100%;
    color: white !important;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "FranklinGothic URW Book", Arial, Helvetica, sans-serif;
}

.current-weather .details {
    flex: 1; /* Take remaining space */
    padding-top: -7px;
}

.current-weather {
    position: relative;
    margin-top: -10px;
}

.current-city-name h2 {
    color: white !important;
}

.current-weather .icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end; /* Align items to the end (top in this case) */
    margin-top: -150px; /* Adjust margin-top to move the icon down */
    margin-bottom: -50px;
    padding-top: 18px;
    top: 0;
    right: 0;
}
.current-weather h6 {
    font-family: "FranklinGothic URW Book", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.current-weather .icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    top: 0;
    right: 0;
}

.current-weather .icon img {
    margin-top: 70px;
}


.current-weather .icon h4 {
    text-transform: capitalize;
    margin: auto;
    padding-bottom: 40px;
    margin-right: auto;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.days-forecast h6 {
    font-family: "FranklinGothic URW Book", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.days-forecast .weather-cards  {
    display: flex;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: linear-gradient(to top, #88BFBF, #F4BD9E);
    border-radius: 5px;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
   margin-top: 20px;
}

.weather-search-history h3 {
    text-align: center;
    padding-top: 20px;

}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }

    .weather-cards {
        flex-wrap: wrap;
    }

    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }

    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }

    .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .weather-input {
        width: 100%;
    }

    .weather-data h2 {
        font-size: 1.35rem;
    }
}

.history-list {
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    background-color: #F2E6D8;
    padding: 5px;
    border-radius: 4px;
}

.history-item:nth-child(odd) {
    background-color: #F4BD9E;
    padding: 10px;
    border-radius: 4px;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.history-item:nth-child(even) {
    background-color: #88BFBF;
    padding: 10px;
    border-radius: 4px;
    font-family: "Franklin Gothic Demi", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.history-item:hover {
    background-color: #28BBC2; /* Change to your desired hover color */
}


.current-city-date {
    margin-top: 5px;
}

button.recent-search-results  {
    background: #F2E6D8;
}